---
layout: default
---

<div class="">
    <div class="flex flex-col lg:flex-row justify-between items-baseline gap-10 mt-16 mb-20">
        <p class="text-4xl font-light max-w-xl leading-snug flex-1">
            Ruby & Ruby on Rails
        </p>
        <h1 class="text-4xl font-light max-w-xl leading-snug flex-1">
            Everything you need to become an expret in Ruby and Ruby on Rails
        </h1>
    </div>

    <section class="mb-20">
        <a href="{{site.baseurl}}/ruby/books.html" class="mb-10 inline-block">
            <h2 class="text-4xl font-light text-red-500">Books about Ruby</h2>
        </a>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-3 md:gap-10">
            {% assign sorted_collection = site.books_ruby | sort: 'year' | reverse %}

            {% for book in sorted_collection | limit: 4 %}
            {% include card_book.html %}
            {% endfor %}
        </div>
    </section>

    <section>
        <a href="{{site.baseurl}}/ruby-on-rails/books.html" class="mb-10 inline-block">
            <h2 class="text-4xl font-light text-red-500">Books about Ruby on Rails</h2>
        </a>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-3 md:gap-10">
            {% assign sorted_collection = site.books_rails | sort: 'year' | reverse %}

            {% for book in sorted_collection | limit: 4 %}
            {% include card_book.html %}
            {% endfor %}
        </div>
    </section>
</div>