---
layout: default
---

<!--<div class="px-10 pt-10 ">-->
<!--    <h1 class="text-5xl font-black mb-10">Books about Ruby & Ruby on Rails</h1>-->

<!--    <h2 class="mb-10">Books about Ruby</h2>-->
<!--    {% assign books_ruby = site.books | where: 'category', 'ruby' %}-->
<!--    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 md:gap-10">-->
<!--        {% for book in books_ruby  %}-->
<!--        <a href="{{ book.url }}" class="flex flex-col items-start bg-white rounded-lg hover:shadow-xl hover:-translate-y-2 transition-all ease-in-out font-bold hover:shadow-slate-500/10 text-xl text-red-600">-->
<!--            <img src="{{site.baseurl}}/assets/images/books/{{book.cover}}" alt="" class="object-scale-down pl-5 -mt-5 h-64 shrink-0">-->
<!--            <div class="px-5 pt-3 pb-4 flex flex-col">-->
<!--                {{ book.title }}-->
<!--                <span class="text-sm font-normal text-slate-500">by {{book.author}}</span>-->
<!--            </div>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--    <h2>Books about Ruby on Rails</h2>-->

<!--    {% assign _books_rails = site.books | where: 'category', 'rails' %}-->
<!--    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-10">-->
<!--        {% for book in _books_rails  %}-->
<!--        <a href="{{ book.url }}" class="flex flex-col p-5 bg-white rounded-lg hover:shadow-lg font-bold hover:shadow-slate-500/10 text-xl text-red-600">-->
<!--            {{ book.title }}-->
<!--            <span class="text-sm font-normal text-slate-500">by {{book.author}}</span>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-10">-->
<!--        {% for post in site.books %}-->
<!--        <a href="{{ post.url }}"-->
<!--           class="flex flex-col p-5 bg-white rounded-lg hover:shadow-lg font-bold hover:shadow-slate-500/10 text-xl text-red-600">-->
<!--            {{ post.title }}-->
<!--            <span class="text-sm font-normal text-slate-500">by {{post.author}}</span>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->