<a href="{{ book.url }}"
   class="flex flex-col items-start relative hover:-translate-y-2 transition-all ease-in-out text-xl text-red-600">
    {% if book.price == 'free' %}
    <span class="bg-green-500 backdrop-blur-xl tracking-wider absolute -top-2 font-bold uppercase left-2 transform -rotate-6 text-white text-lg px-6 py-1 mb-1 rounded-full">Free</span>
    {% endif %}

    {% if book.cover %}
    <img src="{{site.baseurl}}/assets/images/books/{{book.cover}}" alt=""
         class="object-fill rounded-sm shadow-xl shadow-slate-600/10 h-96 shrink-0">
    {% else %}

    <div class="bg-gradient-to-br p-5 from-red-600 to-slate-800 h-96 w-64  shadow-xl shadow-slate-600/10 rounded-sm text-white font-serif">
        <span class="text-sm inline-block my-5 opacity-70">{{book.author}}</span>
        <span class="inline-block text-3xl font-medium">{{ book.title }}</span>
    </div>
    {% endif %}
    <div class="pt-3 pb-4 flex flex-col">
        {{ book.title }}
        <span class="text-sm font-normal text-slate-500">by {{book.author}}</span>
    </div>
</a>