<nav class="flex gap-5 justify-between items-start sm:items-center text-slate-700">
    <a href="/"
       class="text-xl aspect-square bg-red-500 h-14 w-14 flex items-center justify-center rounded-full font-black text-white">R&R</a>

    <div class="flex flex-wrap md:flex-row gap-5 text-slate-600">
        <a href="{{site.baseurl}}/ruby/books.html" class="hover:text-red-500">
            Ruby
        </a>

        <a href="{{site.baseurl}}/ruby-on-rails/books.html" class="hover:text-red-500">
            Ruby on Rails
        </a>

        <a href="{{site.baseurl}}/podcasts.html" class="hover:text-red-500">Podcasts</a>
        <a href="{{site.baseurl}}/newsletters.html" class="hover:text-red-500">Newsletters</a>
        <a href="{{site.baseurl}}/events.html" class="hover:text-red-500">Events</a>
        <a href="{{site.baseurl}}/jobs.html" class="hover:text-red-500">Jobs</a>
    </div>
</nav>