<nav class="flex gap-5 justify-between items-start sm:items-center text-slate-700">
    <a href="/"
       class="text-xl aspect-square bg-red-500 h-14 w-14 flex items-center justify-center rounded-full font-black text-white">R&R</a>

    <div class="flex flex-wrap md:flex-row gap-5 text-slate-600">
        <a href="{{site.baseurl}}/ruby/books.html" class="hover:text-red-500">
            Ruby
        </a>

        <a href="{{site.baseurl}}/ruby-on-rails/books.html" class="hover:text-red-500">
            Ruby on Rails
        </a>

        <a href="{{site.baseurl}}/podcasts.html" class="hover:text-red-500">Podcasts</a>
        <a href="{{site.baseurl}}/newsletters.html" class="hover:text-red-500">Newsletters</a>
        <a href="{{site.baseurl}}/events.html" class="hover:text-red-500">Events</a>
        <a href="{{site.baseurl}}/jobs.html" class="hover:text-red-500">Jobs</a>
        <a href="https://twitter.com/nleonid" target="_blank" class="hover:text-red-500">
            <svg class="w-5 h-5 fill-sky-500" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="266.667" height="216.715" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6701 5446">
  <path class="fil0" d="M6701 645c-247 109-512 183-790 216 284-170 502-440 604-761-266 158-560 272-873 334C5391 167 5034 0 4638 0c-759 0-1375 616-1375 1375 0 108 12 213 36 313-1143-57-2156-605-2834-1437-118 203-186 439-186 691 0 477 243 898 612 1144-225-7-437-69-623-172v17c0 666 474 1222 1103 1348-115 31-237 48-362 48-89 0-175-9-259-25 175 546 683 944 1284 955-471 369-1063 589-1708 589-111 0-220-7-328-19 608 390 1331 618 2108 618 2529 0 3912-2095 3912-3912 0-60-1-119-4-178 269-194 502-436 686-712z"/>
</svg>
        </a>
    </div>
</nav>