<!--<div class="sticky top-0 ">-->
<a href="/" class="font-black text-white text-xl ml-5">Ruby & Rails</a>

<nav class="mt-10 text-white">

    <div class="flex flex-col space-y-2 bg-slate-600/60 p-5 rounded-lg m-5">
        <p class="text-2xl mb-5">Ruby</p>
        <a href="{{site.baseurl}}/ruby/books.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
            </svg>
            Books
        </a>
        <a href="{{site.baseurl}}/ruby/courses.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
            </svg>
            Courses
        </a>
        <a href="{{site.baseurl}}/ruby/youtube.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            Youtube
        </a>
    </div>

    <div class="flex flex-col space-y-2 bg-slate-600/30 p-5 rounded-lg m-5">
        <p class="text-2xl mb-5">Ruby on Rails</p>
        <a href="{{site.baseurl}}/ruby-on-rails/books.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
            </svg>
            Books
        </a>
        <a href="{{site.baseurl}}/ruby-on-rails/courses.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
            </svg>
            Courses
        </a>
        <a href="{{site.baseurl}}/ruby-on-rails/youtube.html" class="flex gap-2 items-center hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            Youtube
        </a>
    </div>

    <div class="flex flex-col space-y-2 bg-slate-600/20 p-5 rounded-lg m-5">
        <a href="{{site.baseurl}}/podcasts.html">Podcasts</a>
        <a href="{{site.baseurl}}/newsletters.html">Newsletters</a>
        <a href="{{site.baseurl}}/conferences-meetups.html">Conferences & meetups</a>
        <a href="{{site.baseurl}}/jobs.html">Jobs</a>
    </div>
</nav>
<!--</div>-->