---
layout: default
---

<div class="">

    {% include category_nav.html %}

    <div class="space-y-20">
        {% assign collection_name = page.name_collection %}
        {% assign sorted_collection = site.[collection_name] | sort: 'year' | reverse %}

        {{ page.category }}
        {% if page.category == 'ruby' %}
        {% assign arr = "2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2011" | split: ', ' %}
        {% elsif page.category == 'rails' %}
        {% assign arr = "2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015 " | split: ', ' %}
        {% endif %}

        {% for year in arr %}
        <section>
            <div class="flex md:gap-10 flex-col md:flex-row">
                <h2 class="text-4xl mb-8 font-light">{{ year }}</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-5">
                {% for book in sorted_collection %}
                {% assign number = year | plus: 0 %}
                {% if book.year == number %}
                    {% include card_book.html %}
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
        {% endfor %}

    </div>
</div>