---
layout: default
---

<!--{% assign cat = page.name_collection %}-->
<!--{% for item in site.[cat] %}-->
<!--    {{item.categories | capitalize | join: ', '}}-->
<!--{% endfor %}-->

<!--<div class="post-categories">-->
<!--    {% if post %}-->
<!--    {% assign categories = post.categories %}-->
<!--    {% else %}-->
<!--    {% assign categories = page.categories %}-->
<!--    {% endif %}-->
<!--    {% for category in categories %}-->
<!--    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>-->
<!--    {% unless forloop.last %}&nbsp;{% endunless %}-->
<!--    {% endfor %}-->
<!--</div>-->


<!--{% assign vers = site.books_ruby | group_by: "language" %}-->
<!--{% assign groups = site.books_ruby | group_by: 'language' %}-->

<!--{% for group in groups %}-->
<!--<a href="/ruby/book/{{ group.name | downcase }}.html">{{ group.name }}</a>-->

<!--    <ul class="mb-10">-->
<!--   {% for i in group.items %}-->
<!--        <li><a href="{{ i.url }}">{{ i.title }}</a></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->

<!--{% endfor %}-->

<!--{% assign lang = site.books_ruby | where: "language", "english" %}-->

<!--<ul>-->
<!--{% for l in lang %}-->
<!--    <li>-->
<!--        <a href="{{l.url}}">{{ l.title }}</a>-->
<!--    </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--{% for gr in vers %}-->
<!--    {{ gr.name }}-->
<!--{% endfor %}-->

<!--{% assign newcars = site.my_collection | where: "category", "new" %}-->

<!--{% assign groups = site.books_ruby | group_by: "categories" %}-->

<!--{% for group in groups %}-->
<!--    <div class="bg-yellow-100">-->
<!--    {{ group.name  }}-->
<!--    </div>-->
<!--{%endfor%}-->


<div class="">

    {% include category_nav.html %}

    <div class="space-y-20">
        {% assign collection_name = page.name_collection %}
        {% assign sorted_collection = site.[collection_name] | sort: 'year' | reverse %}

        <section>
            <h2 class="text-4xl mb-8 font-light">Books for <span class="font-medium">2022</span></h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-3 md:gap-5">
                {% for book in sorted_collection %}
                {% if book.year == 2022 %}
                    {% include card_book.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section>
            <h2 class="text-4xl mb-8 font-light">Books for <span class="font-medium">2021</span></h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-3 md:gap-5">
                {% for book in sorted_collection %}
                {% if book.year == 2021  %}
                    {% include card_book.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section>
            <h2 class="text-4xl mb-8 font-light">Books for <span class="font-medium">2020</span></h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-5">
                {% for book in sorted_collection %}
                {% if book.year == 2020  %}
                {% include card_book.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section>
            <h2 class="text-4xl mb-8 font-light">Books for <span class="font-medium">other years</span></h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-5">
                {% for book in sorted_collection %}
                    {% unless book.year == 2022 or book.year == 2021 or book.year == 2020  %}
                        {% include card_book.html %}
                    {% endunless %}
                {% endfor %}
            </div>
        </section>

    </div>
</div>